{
  "root": true,
  "env": {
    "node": true,
    "es6": true
  },
  "extends": [
    "eslint-config-egg/typescript",
    "plugin:prettier/recommended",
    "prettier/@typescript-eslint",
    "prettier"
  ],
  "plugins": ["@typescript-eslint", "prettier"],
  "rules": {
    "quotes": ["error", "single"],
    "semi": ["error", "never"],
    "comma-dangle": ["error", "never"],
    "prettier/prettier": "error",
    "@typescript-eslint/no-explicit-any": ["off"]
  }
}
